#Ignore build and lib dirs
_old
build
lib/*

# Binaries
**/bin/

#Ignore executables
/bin
bin-int

#Ignore dependencies
dependencies

#Ignore settings for .vscode because it's dependant on OS
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#Ignore CMakeCache.txt
CMakeCache.txt
CMakeFiles

#Ignore ninja files
.ninja_deps
.ninja_log
build.ninja
cmake_install.cmake

#Ignore Mac specific files if any
.DS_Store

Arklumos-engine.code-workspace

Makefile

#CMake files to spare because of the ImGui submodule
Arklumos/vendor/imgui/cmake_install.cmake
Arklumos/vendor/imgui/CMakeLists.txt

#Logs files
*.log

ArklumosProfile-Runtime.json
ArklumosProfile-Startup.json
ArklumosProfile-Shutdown.json

#Logs files
*.log

#Python scripts
__pycache__

Arklumos/vendor/VulkanSDK