[submodule "Arklumos/vendor/spdlog"]
	path = Arklumos/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Arklumos/vendor/GLFW"]
	path = Arklumos/vendor/GLFW
	url = https://github.com/glfw/glfw
