{
	"configurations": [
			{
					"name": "GNU/Linux",
					"includePath": [
							"Arklumos/src",
							"Arklumos/vendor/spdlog/include",
							"Arklumos/vendor/GLFW/include",
							"Arklumos/vendor/glad/include",
							"Arklumos/vendor/imgui",
							"Arklumos/vendor/stb_images",
							"${workspaceFolder}/**"
					],
					"defines": [
							"_DEBUG",
							"UNICODE",
							"_UNICODE",
							"DAK_BUILD_DLL",
							"DAK_DEBUG",
							"DGLFW_INCLUDE_NONE"
					],
					"compilerPath": "/usr/bin/g++",
					"cStandard": "c17",
					"cppStandard": "c++20",
					"intelliSenseMode": "linux-gcc-x64",
					"configurationProvider": "linux"
			}
	],
	"version": 4
}